<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Complete Your Profile</h1>
    <form action="/profile/<%= user.id %>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
        <div>
            <label for="aboutMe">About Me</label>
            <input type="text" name="aboutMe" id="aboutMe" >
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" required>
        </div>
        <div>
            <label for="interests"> Interests </label>
             <select name="interests" id="interests" multiple>
                <% for(let interest of interests) { %> 
                    <option value="<%=interest%>"><%=interest%> </option>
                    <% } %> 
              </select>
        </div>
        <div>
            <label for="image">Profile Picture</label>
            <input type="file" name="image" id="image" required>
        </div>
        <button>Submit</button>
    </form>
    
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unPopTake</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/unAuthNav.css">
    <link rel="stylesheet" href="/stylesheets/complete.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mb-5 pt-1 pb-1">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="hero.html"><img class="nbi" src="/images/Logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-1" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active pe-5 text-light" aria-current="page" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5 text-light" href="clothing.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5 text-light" href="gadgets.html">Explore</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active pe-5 text-light" href="">Connect</a>
              </li>
            </ul>
        </div>
          </div>
        </div>
      </nav>
      <main>
        <div class="main-one">
          <div class="one-one">
            <img src="/images/Female hand holding iPhone 14 Pro mockup (Mockuuups Studio).png" alt="">
          </div>
          <div class="one-two">
            <h6><b> Complete Your Profile</b></h6>
            <p>Hey, <%=currentUser.firstName %>, help us complete your profile</p> 
            <p>Just a few more steps</p>
            <form action="/profile/<%= user.id %>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                <div>
                <input class="box" type="text" placeholder="Tel Us About Yourself" name="aboutMe" id="aboutMe">
            </div>
            <div>
              <input type="name" placeholder="Location" name="location" id="location">
          </div>
            <div>
                <label class="lab" for="interests"> Interests </label>
             <select class="int" name="interests" id="interests" multiple>
                <% for(let interest of interests) { %> 
                    <option value="<%=interest%>"><%=interest%> </option>
                    <% } %> 
              </select>
            </div>
            <div style="margin-top: 40px;">
                <label style="margin-bottom: -10px;" class="lab" for="image">Profile Picture</label>
                <input type="file" name="image" id="image" required>
          </div>
            <button id="bo">Complete Profile</button> <br>
            </form>
          </div>
        </div>
      </main>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>