<% layout('layouts/boilerplate') %>



  <div class="container mt-20 " style="min-height: 100vh;">
    <div class="flex flex-col lg:flex-row gap-10" id="row">

      <div class="col hidden lg:block lg:w-1/4">
        <div class="one flex flex-col gap-6">
          <div class="one-one px-6 py-6 flex flex-col gap-2">
            <h6> YOUR INTERESTS </h6>
            <% if(currentUser) {%>
              <ul class="flex flex-col gap-2">
                <% for (let i=0; i < currentUser.interests.length; i++) { %>
                  <li>
                    <%= currentUser.interests[i] %>
                  </li>
                  <!-- <li>UGC And Micro-Influence Marketing</li>
                    <li>Live-Stream Shopping</li>
                    <li>Coding</li>
                    <li>Video Production</li>
                    <li>Sustainability In A World That Consumes A Lot</li> -->
                  <% } %>
              </ul>
              <% }else {%>
                <ul>
                  <li>Login to access full features</li>
                </ul>
                <% } %>
          </div>

          <div class="one-two px-6 py-6 flex flex-col gap-2">
            <h6> Communities </h6>
            <ul class="flex flex-col gap-2">
              <li>Challeges women face in a man field profession .....</li>
              <li>Let's air out frustration on so many issues .....</li>
              <li>Unpopular takes about the dating scene in Lagos</li>
            </ul>
          </div>
          
          <div class="one-three px-6 py-6 flex flex-col gap-2 text-white">
            <% if(currentUser) {%>
              <div class="irregular">
                <img class="ml-44" style="width: 70px; height: 70px; border-radius: 40px" src="<%=currentUser.image.url%>" alt="">
                <!-- <img style="width: 70px; height: 70px; border-radius: 40px" alt=""> -->
              </div>
                <div>
                  <form method="POST" action="/logout">
                  <div class="inline-flex">
                    <img class="w-6" src="images/Logout.png" alt=""> 
                   <a class="hover:underline" href="/logout"> <b> Logout </b> </a>  <br>
                </div>
                  </form>
                  <div class="inline-flex">
                  <img class="w-6" src="images/User Add.png" alt="">
                  <a class="hover:underline" href="/"> <b>Add Another Account</b></a>
                  </div>
                  <div class="inline-flex">
                  <img class="w-6" src="images/trash.png" alt=""> 
                  <a class="hover:underline" href="/"> <b>Delete Account</b></a>
                 
                </div>
              <!-- <form method="POST" action="/logout">
                <img class="w-4" src="images/Logout.png" alt=""> <b class="relative -top-6 left-2"> <a href="/logout">Logout</a> </b> <br>
              </form>

              <img class="w-4" src="images/User Add.png" alt=""> <b class="relative -top-6">Add Another Account</b> <br>
              <img class="w-4" src="images/trash.png" alt=""> <b class="relative -top-6">Delete Account</b> -->
            </div>

              <% }else{ %>
                <div class="irregular">
                  <p>Login to access full features</p>
                </div>
                <% } %>

          </div>
        </div>
      </div>

      <div class="col order-1 lg:order-2 lg:w-2/4">
        <div class="two px-6">
          <div class="two-one">
            <b>Home</b>
            <a href=""> <img src="images/search-status.png" alt=""> </a>
          </div>
          
          <div class="two-two">
            <form action="" class="formm">
              <% if(currentUser) { %>
                <img class="my-2" style="width: 63px;height: 63px; border-radius: 40px" src="<%=currentUser.image.url %>" alt="">
                <% }else { %>
                  <img class="my-2" style="width: 63px;height: 63px; border-radius: 40px" src="#" alt="">
                  <% } %>
                  <textarea class="border p-1" name="" id="" placeholder="Unpopular Opinion?"></textarea>
                    <!-- <input type="text" name="" id="" placeholder="Unpopular Opinion?"> <br> -->
                    <div class="flex justify-between">
                      <div class="flex gap-8">
                        <a href=""><img style="width: 15px;height: 15px; " class="smi" src="images/Link.png" alt=""> </a>
                        <a href=""> <img style="width: 15px;height: 15px" class="smi" src="images/File.png" alt=""> </a>
                        <a href=""> <img style="width: 15px;height: 15px" class="smi" src="images/gallery.png" alt=""> </a>
                        <a href=""> <img style="width: 15px;height: 15px" class="smi" src="images/Adjustment.png" alt="">
                        </a>
                        <a href=""> <img style="width: 15px;height: 15px" class="smi" src="images/Calendar.png" alt=""> </a>
                      </div>
                      
                      <button class="bti"> <a style="color: white;" href="/post/new"> Post </a></button>
                    </div>
                    
                    <!-- <hr> -->
            </form>
          </div>
          <hr class="mt-2 mb-8">
          <div class="two-three flex flex-col items-center">
            <ul class="flex justify-between w-[50%]">
              <a href="">
                <li>For You</li>
              </a>
              <a href="">
                <li>Following</li>
              </a>
            </ul>
          </div>
          <% for (let post of posts) { %>
            <div class="two-four mb-8" style="position: relative; left: 5px; top: 30px">
              <img style="border-radius: 55px;" src="<%=post.author[0].image.url %>" alt=""> <a id="two-four-one"
                href="/profile/<%=post.author[0]._id%>"> <b class="relative bottom-10 left-14 ">
                  <%=post.author[0].username %>
                </b> </a><br>
              <a id="two-four-one" href="/post/<%=post._id%>"> <b class="relative bottom-8 left-2 two-four-one">Unpopular Take On <%=post.title%>
                    -<span> #<%=post.hashtag%></span></b> </a>
              <p class="-mt-6">
                <%=post.body%>
              </p>
              <form class="comment-form" action="/post/<%=post._id%>/comments" method="POST">
                <% if(currentUser){ %>
                  <img style="width: 40px; height: 40px; border-radius: 40px" src="<%=currentUser.image.url%>" alt="">
                  <input class="relative -top-6 left-12 border-2 " type="text" name="comment[body]" id="body" placeholder="Comment"> <br>
                  <% }else{ %>
                    <img style="width: 40px; height: 40px; border-radius: 40px" src="#" alt=""> <input type="text"
                      name="comment[body]" id="body" placeholder="Comment"> <br>
                    <% } %>
              </form>
              <ul class="col hidden lg:inline ">
                <a href="">
                  <li>Like</li>
                </a>
                <a href="">
                  <li>Share</li>
                </a>
                <a href="">
                  <li>Favourite</li>
                </a>
                <a href="">
                  <li>Comments</li>
                </a>
              </ul>
            </div>
            <% } %>

              <!-- <div class="two-four">
                <img src="images/Ellipse 12.png" alt="">  <b>Femi Salami </b> <br>
                <b class="two-four-one">The Ideal Woman Every Man Wants <span> #Relationship #Dating</span></b>
                <p style="width: 500px;">Lorem ipsum dolor sit amet consectetur. Scelerisque sed malesuada quis non. Id scelerisque nisl phasellus rhoncus. Diam donec gravida amet phasellus egestas tellus tempus consectetur at. Semper vel orci senectus sed ut fames. Dis tristique accumsan orci mus ullamcorper. Id ultrices in tristique quis gravida. Condimentum consequat sed lacus suscipit ut elementum sit in aliquet. Mauris ut venenatis risus id vel scelerisque habitant et lectus. Et dolor ac lobortis tempor mauris id cras phasellus id. Aliquam nunc nullam elementum tempor integer dolor aliquam dignissim. Faucibus sed turpis venenatis elementum erat volutpat amet lectus. Id id purus amet condimentum sit lectus. Semper orci interdum in ullamcorper phasellus lorem quis euismod. Pellentesque quam sed cursus sapien pulvinar pharetra facilisis.</p>
                  <form class="comment-form" action="">
                     <img src="images/Ellipse 14.png" alt="">  <input type="text" placeholder="Comment"> <br>
                  </form>
                  <ul>
                    <a href=""><li>Like</li></a>
                    <a href=""><li>Share</li></a>
                    <a href=""><li>Favourite</li></a>
                    <a href=""><li>1323 Comments</li></a>
                  </ul>
              </div> -->
        </div>
      </div>

      <div class="col hidden lg:block order-1 lg:order-3 lg:w-1/4 px-6 py-6 flex flex-col gap-2" id="three">
        <div class="sec-three-one flex flex-col gap-2">
          <h6>You Might Be Interested</h6>
          <hr>
          <h6 class="font-medium">Social AR/VR Experiences</h6>
          <p>Augmented Reality(AR) And Virtual Reality(VR) Holds Tremendous Promise For Changing The Way Business And
            Consumers Operate And Has The Ability To Tranform Nearly Every Industry And Solve Many Real World Problems
            <br> Let's Talk About It ....</p>
        </div>

        <div class="sec-three-two flex justify-between">
          <img src="images/Group 15.png" alt="">
          <button class="px-4"><b> Join </b></button>
        </div>

        <hr>
        
        <div class="sec-three-three">
          <img src="images/image 1.png" alt="">
          <p class="non-link">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odio aut magni quaerat
            eligendi vel quis ut, eos incidunt nam laboriosam laudantium quidem.</p>
          <p class="link">https://stackoverflow.com/ <br>
            questions/4383117/how-can-fake-url-on-hover-and-right-click-copy-link-localtion-but-not-on-the-c</p>
        </div>
        <!-- <div>

        </div> -->


      </div>
    </div>

  </div>